.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

body {
  min-width:500px;
  overflow-x:hidden;
  font-family: Helvetica, Arial, Times;
  font-size: 12px;
	background: url("bg.png") repeat scroll 0 0 #EFEFEF;
}

#artist_input, #song_input{
  border: 1px solid #000000;
}

.header{
  display: block;
  height: 30px;
}

.header_title{
  display: inline;
  font-size: 24px;
  margin: 0;
  padding: 0;
  float: right;
  font-family: 'Aldrich', sans-serif;
  text-shadow: 0 1px 0 #FFFFFF;
}

.track_input{
  float: left;
}

#track_input{
	width: 250px;
}

.artist_container, .song_container, .track_container, .submit_container{
  display: inline;
}

.service_container{
  width: 236px;
  display: inline-block;
  margin: 5px;
  float: left;
}

.service_data{
  height: 100px;
  border: 0px solid #000000;
  word-wrap: break-word;
  box-shadow: 1px 1px 1px #000000;
  border-radius: 3px;
  background: #FFFFFF;
}

.service_data:hover{
	cursor: pointer;
	background: gray;
}

/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}