.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

body {
  min-width:575px;
  overflow-x: hidden;
  font-family: 'Lucida Grande', Arial, san-serif, "Lucida Grande", sans-serif;
  font-size: 12px;
	background: url("../images/bg.png") repeat scroll 0 0 #EFEFEF;
}

.header{
  display: block;
  height: 30px;
  margin-bottom: 30px;
}

.header_title{
  display: inline;
  font-size: 48px;
  margin: 10px 0 0 0;
  padding: 0;
  float: left;
  font-family: 'Aldrich', sans-serif;
  text-shadow: 0 1px 0 #FFFFFF;
}

.spinner{
	background: url("../images/ajax-loader.gif") repeat scroll 0 0;
	width: 16px;
	height: 16px;
	display: inline-table;
	margin-top: 21px;
	margin-left: 5px;
}

.url_label{
	width: 50px;
	height: 30px;
	float: left;
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
   	color-stop(0.45, rgb(148,148,146)),
    color-stop(0.73, rgb(194,194,194)),
    color-stop(0.87, rgb(217,210,217))
	);
	text-align: center;
	border-radius: 5px 0 0 5px;
	border: 1px solid #000000;
	border-right: 0;
}

.track_input{
  float: right;
}

#track_input{
 	width: 280px;
	height: 28px;
	display: inline;
	background: whiteSmoke;
	border-radius: 0 5px 5px 0;
	border: 1px solid #000000;
}

.input_error{
	box-shadow: 0px 0 5px red;
}

.instructions{
	text-transform: uppercase;
	font-size: 11px;
	margin-bottom: 5px;
}

.all_header{
	float:right;
}

.all_header:hover{
	cursor: pointer;
	color: #0F80F8
}

.artist_container, .song_container, .track_container, .submit_container{
  display: inline;
}

.service_container{
  width: 236px;
  display: inline-block;
  margin: 5px;
  float: left;
}

.service_data{
  height: 100px;
  border: 0px solid #000000;
  word-wrap: break-word;
  box-shadow: 1px 1px 1px #000000;
  border-radius: 3px;
  background: #FFFFFF;
}

.service_data:hover{
	cursor: pointer;
	background: gray;
}

.music_service_container{
	margin-bottom: 10px;
}

.service_button{
	width: 80px;
	height: 30px;
	float: left;
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
   	color-stop(0.45, rgb(148,148,146)),
    color-stop(0.73, rgb(194,194,194)),
    color-stop(0.87, rgb(217,210,217))
	);
	text-align: center;
	border-radius: 5px 0 0 5px;
	border: 1px solid #000000;
	border-right: 0;
	cursor: pointer;
}

#spotify_button{
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.45, rgb(38,207,12)),
    color-stop(0.73, rgb(70,227,45)),
    color-stop(0.87, rgb(91,235,113))
	);
}

#rdio_button{
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.45, rgb(58,12,207)),
    color-stop(0.73, rgb(45,112,227)),
    color-stop(0.87, rgb(91,132,235))
	);
}

#grooveshark_button{
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.45, rgb(207,207,12)),
    color-stop(0.73, rgb(206,227,45)),
    color-stop(0.87, rgb(232,237,92))
	);
}

#last_fm_button{
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.45, rgb(207,12,12)),
    color-stop(0.73, rgb(227,45,45)),
    color-stop(0.87, rgb(235,91,91))
	);
}

.service_button:hover{
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
   	color-stop(0.65, rgb(148,148,146)),
    color-stop(0.93, rgb(194,194,194)),
    color-stop(0.97, rgb(217,210,217))
	);
}

#spotify_button:hover{
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.65, rgb(38,207,12)),
    color-stop(0.93, rgb(70,227,45)),
    color-stop(0.97, rgb(91,235,113))
	);
}

#grooveshark_button:hover{
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.65, rgb(207,207,12)),
    color-stop(0.93, rgb(206,227,45)),
    color-stop(0.97, rgb(232,237,92))
	);
}

#rdio_button:hover{
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.65, rgb(58,12,207)),
    color-stop(0.93, rgb(45,112,227)),
    color-stop(0.97, rgb(91,132,235))
	);
}

#last_fm_button:hover{
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.65, rgb(207,12,12)),
    color-stop(0.93, rgb(227,45,45)),
    color-stop(0.97, rgb(235,91,91))
	);

}

.service_button:active{
  box-shadow: 1px 1px 1px #000000;
  box-shadow:inset 0px 0px 1px #000000;
}

.button_title{
	padding: 8px 0;
	text-shadow: 0px -1px 0px #808080;
	color: #FFFFFF;
	font-size: 12px;
}

.service_result{
	width: 491px;
	height: 30px;
	display: inline-block;
	background: whiteSmoke;
	border-radius: 0 5px 5px 0;
	border: 1px solid #000000;
	overflow-x: ellipsis;
}

.results_link{
	padding: 9px 5px;
	font-size: 11px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	max-width: 480px;
}

/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}